.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #acc6cc;
  font-family: tahoma;
}
#SearchBtn {
  border-radius: 20px;
}

#search-field {
  background-color: white;
  height: 30px;
  border-radius: 20px;
  border: 1px solid grey;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #7ca4a4;
}
#siteName {
  color: #03a4e8;
  font-weight: bold;
}
